.sigma-container {
    overflow: hidden;
}

#map-grid {
    display: grid;
    height: 100%;
}

#map-grid>* {
    grid-area: 1 / 1;
    z-index: 1;
}

.map {
    z-index: 0;
    --sigma-background-color: none;
}

.map-overlay {
    pointer-events: none;
}

.map-overlay > * {
    pointer-events: auto;
}

.hover-card {
    width: 25%;
    max-height: 60%;
    pointer-events: none;
    top: 16px;
    right: 16px;
    position: absolute;
}
